body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0; 
  padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 20px; 
}

a {
  color: aquamarine;
  font-size: 16px;
  text-decoration: none; 
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
}

video, img {
  width: 100%;
}
